<a href="https://colab.research.google.com/github/ASO1801033/AI_teach2020/blob/master/2020AI020A_Square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ライブラリの読み込み
import pandas as pd
# データを学習用とテスト用に分けるライブラリ
from sklearn.model_selection import train_test_split
# ランダムフォレストアルゴリズムの学習モデル
from sklearn.ensemble import RandomForestClassifier
# 学習精度を評価するライブラリ
from sklearn.metrics import accuracy_score
# 分類結果を出力するライブラリ
from sklearn.metrics import classification_report

In [2]:
# webから読み込むためのライブラリ
from urllib.request import urlretrieve
# uciのサイトから読み込むためのurl文字列
url = "https://raw.githubusercontent.com/masatokg/square_data/master/data.csv"
savepath = "data.csv"
# データをwebアクセスでコピーして指定したファイルパス・ファイル名に保存
urlretrieve(url, savepath)

('data.csv', <http.client.HTTPMessage at 0x7f4ae525deb8>)

In [3]:
# 変数squareにデータ保持
square = pd.read_csv(savepath, sep=",", encoding="utf-8")
# 読み込んだデータの最初のほうを表示
print(square.head())
square.head()

   a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle   shape
0        10        10        10  ...            1               1  square
1        11        11        11  ...            1               1  square
2        12        12        12  ...            1               1  square
3        13        13        13  ...            1               1  square
4        14        14        14  ...            1               1  square

[5 rows x 8 columns]

   a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle   shape
0        10        10        10  ...            1               1  square
1        11        11        11  ...            1               1  square
2        12        12        12  ...            1               1  square
3        13        13        13  ...            1               1  square
4        14        14        14  ...            1               1  square

[5 rows x 8 columns]

In [4]:
# 目的変数は四角形の種類
y = square["shape"]
# 説明変数は"shape"列を除外した残りすべて
x = square.drop("shape", axis=1)
x.head()

   a_length  b_length  c_length  ...  ab_Parallel  cd_Parallel  ab_right_angle
0        10        10        10  ...            1            1               1
1        11        11        11  ...            1            1               1
2        12        12        12  ...            1            1               1
3        13        13        13  ...            1            1               1
4        14        14        14  ...            1            1               1

[5 rows x 7 columns]

In [5]:
# _trainは学習用、_testはテスト（検証）用とする
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [6]:
# ランダムフォレストで学習
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [21]:
# テスト（predict）して結果を評価する
y_pred = model.predict(x_test)
# テスト結果（y_pred）と、本当の実データ（正解ラベルデータ）を比較して精度を評価
print(classification_report(y_test, y_pred))
# 正解率
#print("正解率 = ", accuracy_score(y_test, y_pred))

#正解率を変数に代入
correct  = accuracy_score(y_test, y_pred) * 100
print("正解率 =", correct, "%")
if correct == 100.0:
  print("全部正解！すばらちぃ〜 \( ' ' \)")

              precision    recall  f1-score   support

   rectangle       1.00      1.00      1.00        26
     rhombus       1.00      1.00      1.00        17
      square       1.00      1.00      1.00        17
   trapezoid       1.00      1.00      1.00        20

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

正解率 = 100.0 %
全部正解！すばらちぃ〜 \( ' ' \)